
<!DOCTYPE html>
<html>
<head>
  <title>mLab MongoDB test</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
  <h2>Order Collection</h2>
  <ul>
    <li>CID: 647221637495</li>
    <li>BID: 2505198088</li>
    <li>SID: 788327288516</li>

    <li>CID: 212270554674</li>
    <li>BID: 808421682898</li>
    <li>SID: 196528716855</li>
  </ul>
</div>

</body>
</html>
