<!DOCTYPE html>
<html>
<head>
    <title>mLab MongoDB results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Getting order details from MongoDB</h1>
<h3>Order Successful</h3>
</body>
</html>
