<!DOCTYPE html>
<html>
<head>
        <title>mLab MongoDB test</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>THANK YOU FOR YOUR SUBMITTED ORDER</h1>
<h3>Order Submitted Successfully</h3>
</body>
</html>