<!DOCTYPE html>
<html>
<head>
        <title>mLab MongoDB test</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>THANK YOU FOR YOUR SUBMITTED ORDER</h1>
<h3>Order Submitted Successfully</h3>
<ul>
    <h3>Customer Info:</h3>
   <li>CID: 647221637495</li>
   <li>First Name: Sahiti</li>
   <li>Last Name: Tadepalli</li>
   <li>Address: abc Street</li>
   <li>City: Palo Alto</li>
   <li>Zip: 94303</li>
   <li>Email: someone@gmail.com</li>


    <h3>Billing Info:</h3>
    <li>BID: 2505198088</li>
   <li>Card Type: Visa</li>
   <li>Card Number: 1234567891011121</li>
   <li>Card Expiry: January 2025</li>
   <li>CVV: 111</li>
   <li>Name on Card: Sahiti</li>


    <h3>Order Info:</h3>
    <li>CID: 647221637495</li>
    <li>SID: 788327288516</li>
    <li>BID: 2505198088</li>
   <li>Product_Vector: Product Name: Spider Man, Price: $59.99, Quantity: 2 </li>

    <h3>Shipping Info:</h3>
    <li>SID: 788327288516</li>
    <li>Address: abc Street</li>
    <li>City: Palo Alto</li>
    <li>Zip: 94303</li>

   <br/> <br/>
</ul>

</body>
</html>