<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Store Data:</h1>

<table class="table table-inverse">

    <tbody>
    <% for(var i=0; i < displayResults.length; i++) { %>
    <tr>

        <td><%= displayResults[i].address1 %></td>
        <td><%= displayResults[i].cardnumber %></td>
        <td><%= displayResults[i].firstname %></td>

    </tr>
    <% } %>
    </tbody>

</table>
</body>
</html>
