<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        var finalOrder = req.body.order;
    </script>
</head>
<body>
<h1><%= title %></h1>

<table class="table table-inverse">

    <tbody>
    <% for(var i=0; i < finalOrder.length; i++) { %>
    <tr>

        <td><%= finalOrder[i]%></td>

    </tr>
    <% } %>
    </tbody>

</table>
</body>
</html>
