<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript'>

        var displayFinalOrder = JSON.stringify(finalOrder, function(key, value) {
            if (typeof value === 'function') {
                return value.toString();
            } else {
                return value;
            }
        });
        console.log(displayFinalOrder);
    </script>
</head>
<body>
<h1><%= title %></h1>
</body>
</html>
